<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <nav>
      <% include partials/nav %>
    </nav>
    <main class="clearfix">
      <% include partials/gallery %>
  		<div id="root" class="content">

  		</div>

      <div class="container">
        <div class="">
          <h5>This is the header</h5>
          <p>This is the paragraph</p>
        </div>
      </div>

      <div class="slat">
        <img src="./img/short_cap2.jpg" width="200" class="slat-image" alt="" />
        <div class="slat-copy">
          <h5>Slate header</h5>
          <p>Slat content wrapped in a paragraph</p>
        </div>
      </div>

  	</main>

    <form class="search" action="index.html" method="post">
      <label for="">search</label>
      <input type="text" name="" value="" />
      <input type="submit" name="" value="GO" />
    </form>

    <form id="subscription" class="" action="index.html" method="post">
      <fieldset>
        <label for="userEmail">email</label>
        <input id="userEmail" type="email" name="" value="" />
      </fieldset>
      <fieldset>
        <input type="submit" name="" value="subscribe">
      </fieldset>
    </form>

  	<footer>
  	</footer>

  </body>
</html>
