<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <nav>
      <% include partials/nav %>
    </nav>
    <main class="clearfix">
      <% include partials/gallery %>
  		<div id="root" class="content">

  		</div>
  	</main>

    <form id="subscription" class="" action="index.html" method="post">
      <fieldset>
        <label for="userEmail">email</label>
        <input id="userEmail" type="email" name="" value="" />
      </fieldset>
      <fieldset>
        <input type="submit" name="" value="subscribe">
      </fieldset>
    </form>

  	<footer>
  	</footer>

  </body>
</html>
