.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.main-nav ul {
  /*display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;*/
}

.main-nav li {
  padding: 10px;
  width: 8em;
  float: left;
  border-right: solid 1px #fff;
  text-align: center;
}

.main-nav li:nth-child(1) {
  align-self: stretch;
}

.main-nav a:hover {
  color: #bd1550;
}

.main-nav a:link, .main-nav a:visited {
  text-decoration: none;
  /*color: #fff;*/
  padding: 10px;
  display: block;
}
