body {
  background: url(../img/PIA13316-1600x1200.jpg) repeat-x fixed -80% 0;
  background:
    url(../img/PIA12066-1600x1200.png) repeat-x fixed -130% 0,
    url(../img/PIA15801-1600x1200.png) repeat-x fixed 40% 0,
    url(../img/PIA13316-1600x1200.png) repeat-x fixed -80% 0;
    // url(../img/PIA13316-1600x1200.jpg) repeat-x fixed 100% 0;
  background-color: #1a1a1a;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.main-nav {
  float: right;
  padding: 42px 0 0 30px;
}

ul.main-nav {
  list-style: none;
  text-decoration: none;
}

.main-nav li {
  float: left;
  margin: 0 0 0 5px;
}

.main-nav li a {
  border-radius: 14px;
  color: #ccc;
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  padding: 5px 15px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.main-nav li a:hover,
.main-nav li a:focus {
  color: #fff;
  color: rgba(255, 255, 255, 0.15);
}

ul.gallery li {
  float: left;
  margin: 0 10px;
  padding: 10px;
  border: solid 1px #ddd;
  list-style: none;
}

ul.gallery li a img {
  float: left;
  width: 200px;
  transition: transform 0.2s ease-in-out;
}

ul.gallery li a:hover img {
  transform-origin: bottom left;
  // transform: scale(1.5) rotate(30deg);
  // transform: scale(1.5) skew(30deg);
  transform: scale(1.5) translate(20px, 40px);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#subscription fieldset {
  background-color: #d1d1d1;
  margin: 0 0 10px 0;
}

#subscription label {
  color: #666;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  font-weight: bold;
  line-height: 1.4;
  text-shadow: 0 1px 1px #fff;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 12px rgba(51, 204, 255, .2);
  }
  50% {
    box-shadow: 0 0 12px rgba(51, 204, 255, .9);
  }
  100% {
    box-shadow: 0 0 12px rgba(51, 204, 255, .2);
  }
}


#subscription input[type="email"] {
  background-color: #fff;
  background-image: linear-gradient(180deg, #999, #fff 12%);
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(51, 204, 255, .5);
  color: #666;
  font-size: 1.2em;
  padding: 5px 8px;
  width: 215px;
}

#subscription input[type="email"]:focus {
  // box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
  animation: pulse 1.5s infinite ease-in-out;
}

#subscription input[type='submit'] {
  background-image: linear-gradient(0deg, #666, #ddd 50%, #fff);
  background-color: #fff;
  border: none;
  border-radius: 14px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  color: #444;
  font-family: Helvitica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
  padding: 8px 15px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .85);
}

#subscription input[type='submit']:hover,
#subscription input[type='submit']:focus {
  animation: pulse 1.5s infinite ease-in-out;
}
